<log4net>
  <root>
    <level value="WARN" />
    <appender-ref ref="FileAppender" />
  </root>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <file value="C:\logs\ApiAmaris.txt" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
</log4net>